<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor</servlet-name>
        <servlet-class>servlets.doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee</servlet-name>
        <servlet-class>servlets.employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nurse</servlet-name>
        <servlet-class>servlets.nurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient</servlet-name>
        <servlet-class>servlets.patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>servlets.error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerDoctor</servlet-name>
        <servlet-class>servlets.registerDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerPatient</servlet-name>
        <servlet-class>servlets.registerPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerNurse</servlet-name>
        <servlet-class>servlets.registerNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorUser</servlet-name>
        <servlet-class>servlets.errorUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormPatient</servlet-name>
        <servlet-class>servlets.newFormPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormNurse</servlet-name>
        <servlet-class>servlets.newFormNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormEmployee</servlet-name>
        <servlet-class>servlets.newFormEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormDoctor</servlet-name>
        <servlet-class>servlets.newFormDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nurse</servlet-name>
        <url-pattern>/nurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient</servlet-name>
        <url-pattern>/patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerDoctor</servlet-name>
        <url-pattern>/registerDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerPatient</servlet-name>
        <url-pattern>/registerPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerNurse</servlet-name>
        <url-pattern>/registerNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorUser</servlet-name>
        <url-pattern>/errorUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormPatient</servlet-name>
        <url-pattern>/newFormPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormNurse</servlet-name>
        <url-pattern>/newFormNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormEmployee</servlet-name>
        <url-pattern>/newFormEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormDoctor</servlet-name>
        <url-pattern>/newFormDoctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
