<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor</servlet-name>
        <servlet-class>servlets.doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee</servlet-name>
        <servlet-class>servlets.employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nurse</servlet-name>
        <servlet-class>servlets.nurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient</servlet-name>
        <servlet-class>servlets.patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>servlets.error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerDoctor</servlet-name>
        <servlet-class>servlets.registerDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerPatient</servlet-name>
        <servlet-class>servlets.registerPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerNurse</servlet-name>
        <servlet-class>servlets.registerNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorUser</servlet-name>
        <servlet-class>servlets.errorUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormPatient</servlet-name>
        <servlet-class>servlets.newFormPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormNurse</servlet-name>
        <servlet-class>servlets.newFormNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormEmployee</servlet-name>
        <servlet-class>servlets.newFormEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormDoctor</servlet-name>
        <servlet-class>servlets.newFormDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerEmployee</servlet-name>
        <servlet-class>servlets.registerEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeEmployee</servlet-name>
        <servlet-class>servlets.changeEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeDoctor</servlet-name>
        <servlet-class>servlets.changeDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeNurse</servlet-name>
        <servlet-class>servlets.changeNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePatient</servlet-name>
        <servlet-class>servlets.changePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormVisit</servlet-name>
        <servlet-class>servlets.newFormVisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerVisit</servlet-name>
        <servlet-class>servlets.registerVisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_patients</servlet-name>
        <servlet-class>servlets.get_patients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_doctors</servlet-name>
        <servlet-class>servlets.get_doctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_employees</servlet-name>
        <servlet-class>servlets.get_employees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_nurses</servlet-name>
        <servlet-class>servlets.get_nurses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_doctors</servlet-name>
        <servlet-class>servlets.see_doctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_nurses</servlet-name>
        <servlet-class>servlets.see_nurses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_employees</servlet-name>
        <servlet-class>servlets.see_employees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_medicines</servlet-name>
        <servlet-class>servlets.see_medicines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_patients</servlet-name>
        <servlet-class>servlets.see_patients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_medicines</servlet-name>
        <servlet-class>servlets.get_medicines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queries</servlet-name>
        <servlet-class>servlets.queries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerShift</servlet-name>
        <servlet-class>servlets.registerShift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormShift</servlet-name>
        <servlet-class>servlets.newFormShift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_doctors_in_shift</servlet-name>
        <servlet-class>servlets.get_doctors_in_shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_doctors_in_shift</servlet-name>
        <servlet-class>servlets.see_doctors_in_shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_nurses_in_shift</servlet-name>
        <servlet-class>servlets.get_nurses_in_shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_nurses_in_shift</servlet-name>
        <servlet-class>servlets.see_nurses_in_shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_patients_in_shift</servlet-name>
        <servlet-class>servlets.get_patients_in_shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_patients_in_shift</servlet-name>
        <servlet-class>servlets.see_patients_in_shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_employees_in_shift</servlet-name>
        <servlet-class>servlets.get_employees_in_shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_employees_in_shift</servlet-name>
        <servlet-class>servlets.see_employees_in_shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_queries</servlet-name>
        <servlet-class>servlets.get_queries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_diseases</servlet-name>
        <servlet-class>servlets.see_diseases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_diseases</servlet-name>
        <servlet-class>servlets.get_diseases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerExamDoc</servlet-name>
        <servlet-class>servlets.registerExamDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerReExam</servlet-name>
        <servlet-class>servlets.registerReExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerExamNurse</servlet-name>
        <servlet-class>servlets.registerExamNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormExamDoc</servlet-name>
        <servlet-class>servlets.newFormExamDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormExamNurse</servlet-name>
        <servlet-class>servlets.newFormExamNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFormReExam</servlet-name>
        <servlet-class>servlets.newFormReExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_id</servlet-name>
        <servlet-class>servlets.see_id</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_history</servlet-name>
        <servlet-class>servlets.see_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_history</servlet-name>
        <servlet-class>servlets.get_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>give_date</servlet-name>
        <servlet-class>servlets.give_date</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_shifts</servlet-name>
        <servlet-class>servlets.get_shifts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_date</servlet-name>
        <servlet-class>servlets.see_date</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_visit_statistics</servlet-name>
        <servlet-class>servlets.see_visit_statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_visit_statistics</servlet-name>
        <servlet-class>servlets.get_visit_statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_covid_statistics</servlet-name>
        <servlet-class>servlets.see_covid_statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_covid_statistics</servlet-name>
        <servlet-class>servlets.get_covid_statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>give_dates</servlet-name>
        <servlet-class>servlets.give_dates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see_dates</servlet-name>
        <servlet-class>servlets.see_dates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_statistics</servlet-name>
        <servlet-class>servlets.get_statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_shifts</servlet-name>
        <servlet-class>servlets.change_shifts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_exams</servlet-name>
        <servlet-class>servlets.change_exams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_nurse_exams</servlet-name>
        <servlet-class>servlets.change_nurse_exams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_re_exams</servlet-name>
        <servlet-class>servlets.change_re_exams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ch_shifts</servlet-name>
        <servlet-class>servlets.ch_shifts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ch_re_exams</servlet-name>
        <servlet-class>servlets.ch_re_exams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ch_exams</servlet-name>
        <servlet-class>servlets.ch_exams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ch_nurse_exams</servlet-name>
        <servlet-class>servlets.ch_nurse_exams</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nurse</servlet-name>
        <url-pattern>/nurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient</servlet-name>
        <url-pattern>/patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerDoctor</servlet-name>
        <url-pattern>/registerDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerPatient</servlet-name>
        <url-pattern>/registerPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerNurse</servlet-name>
        <url-pattern>/registerNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorUser</servlet-name>
        <url-pattern>/errorUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormPatient</servlet-name>
        <url-pattern>/newFormPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormNurse</servlet-name>
        <url-pattern>/newFormNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormEmployee</servlet-name>
        <url-pattern>/newFormEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormDoctor</servlet-name>
        <url-pattern>/newFormDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerEmployee</servlet-name>
        <url-pattern>/registerEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeEmployee</servlet-name>
        <url-pattern>/changeEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeDoctor</servlet-name>
        <url-pattern>/changeDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeNurse</servlet-name>
        <url-pattern>/changeNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePatient</servlet-name>
        <url-pattern>/changePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormVisit</servlet-name>
        <url-pattern>/newFormVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerVisit</servlet-name>
        <url-pattern>/registerVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_patients</servlet-name>
        <url-pattern>/get_patients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_doctors</servlet-name>
        <url-pattern>/get_doctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_employees</servlet-name>
        <url-pattern>/get_employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_nurses</servlet-name>
        <url-pattern>/get_nurses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_doctors</servlet-name>
        <url-pattern>/see_doctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_nurses</servlet-name>
        <url-pattern>/see_nurses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_employees</servlet-name>
        <url-pattern>/see_employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_medicines</servlet-name>
        <url-pattern>/see_medicines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_patients</servlet-name>
        <url-pattern>/see_patients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_medicines</servlet-name>
        <url-pattern>/get_medicines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queries</servlet-name>
        <url-pattern>/queries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerShift</servlet-name>
        <url-pattern>/registerShift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormShift</servlet-name>
        <url-pattern>/newFormShift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_doctors_in_shift</servlet-name>
        <url-pattern>/get_doctors_in_shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_doctors_in_shift</servlet-name>
        <url-pattern>/see_doctors_in_shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_nurses_in_shift</servlet-name>
        <url-pattern>/get_nurses_in_shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_nurses_in_shift</servlet-name>
        <url-pattern>/see_nurses_in_shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_patients_in_shift</servlet-name>
        <url-pattern>/get_patients_in_shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_patients_in_shift</servlet-name>
        <url-pattern>/see_patients_in_shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_employees_in_shift</servlet-name>
        <url-pattern>/get_employees_in_shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_employees_in_shift</servlet-name>
        <url-pattern>/see_employees_in_shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_queries</servlet-name>
        <url-pattern>/get_queries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_diseases</servlet-name>
        <url-pattern>/see_diseases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_diseases</servlet-name>
        <url-pattern>/get_diseases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerExamDoc</servlet-name>
        <url-pattern>/registerExamDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerReExam</servlet-name>
        <url-pattern>/registerReExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerExamNurse</servlet-name>
        <url-pattern>/registerExamNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormExamDoc</servlet-name>
        <url-pattern>/newFormExamDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormExamNurse</servlet-name>
        <url-pattern>/newFormExamNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFormReExam</servlet-name>
        <url-pattern>/newFormReExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_id</servlet-name>
        <url-pattern>/see_id</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_history</servlet-name>
        <url-pattern>/see_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_history</servlet-name>
        <url-pattern>/get_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>give_date</servlet-name>
        <url-pattern>/give_date</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_shifts</servlet-name>
        <url-pattern>/get_shifts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_date</servlet-name>
        <url-pattern>/see_date</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_visit_statistics</servlet-name>
        <url-pattern>/see_visit_statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_visit_statistics</servlet-name>
        <url-pattern>/get_visit_statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_covid_statistics</servlet-name>
        <url-pattern>/see_covid_statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_covid_statistics</servlet-name>
        <url-pattern>/get_covid_statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>give_dates</servlet-name>
        <url-pattern>/give_dates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see_dates</servlet-name>
        <url-pattern>/see_dates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_statistics</servlet-name>
        <url-pattern>/get_statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_shifts</servlet-name>
        <url-pattern>/change_shifts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_exams</servlet-name>
        <url-pattern>/change_exams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_nurse_exams</servlet-name>
        <url-pattern>/change_nurse_exams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_re_exams</servlet-name>
        <url-pattern>/change_re_exams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ch_shifts</servlet-name>
        <url-pattern>/ch_shifts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ch_re_exams</servlet-name>
        <url-pattern>/ch_re_exams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ch_exams</servlet-name>
        <url-pattern>/ch_exams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ch_nurse_exams</servlet-name>
        <url-pattern>/ch_nurse_exams</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
